.places
  &__list
    padding-top: 30px
    margin: 0 auto
    max-width: 80%
    list-style-type: none
    display: flex
    justify-content: space-between
  &__item
    max-width: 220px
    margin-right: 15px
    border: 2px solid #8884d8
    border-radius: 10px
    box-shadow: 0 0 5px #8884d8
    padding: 20px
    background-color: rgba(188, 185, 236, 0.1)
    font-family: Circular, sans-serif
  &__name
    font-size: 20px
    text-align: center
    margin-bottom: 20px
    color: darkslateblue
  &__text
    font-size: 18px
    margin-bottom: 10px
    &--confirmed
      color: #8884d8
    &--recovered
      color: mediumseagreen
    &--active
      color: orange
    &--deaths
      color: crimson
