@import "~breakpoint-sass/stylesheets/breakpoint"

.header
  width: 100%
  height: 100px
  &__wrapper
    width: 100%
    max-width: 1000px
    margin: 0 auto
    display: flex
    justify-content: space-between
    @include breakpoint(max-width 768px)
      flex-direction: column
  &__logo
    padding-top: 10px
    color: violet
    font-family: "Circular", sans-serif
    font-size: 36px
    font-weight: bold
    cursor: pointer
    text-decoration: none
    &--black
      color: rgb(15,19,35)
      &:hover
        color: violet
    @include breakpoint(max-width 768px)
       text-align: center
    @include breakpoint(max-width 500px)
      font-size: 24px
.nav
  &__list
    display: flex
    justify-content: space-between
    list-style-type: none
    padding-top: 20px
    width: 70%
    max-width: 400px
    @include breakpoint(max-width 768px)
      margin: 0 auto
      width: 100%
  &__link
    text-decoration: none
    font-family: "Circular", sans-serif
    font-size: 24px
    color: violet
    font-weight: bold
    &:hover
      color: rgb(15,19,35)
    @include breakpoint(max-width 500px)
      font-size: 16px
