@import "~breakpoint-sass/stylesheets/breakpoint"

.country
  &__select
    font-family: Circular, sans-serif
    width: 300px
    color: grey
    margin: 0 auto
    padding-top: 30px
  &__text
    padding-top: 40px
    font-family: Circular, sans-serif
    font-size: 24px
    font-weight: bold
    color: lightseagreen
    text-align: center
    @include breakpoint(max-width 510px)
      font-size: 16px
